<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="website/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人信息修改</title>
</head>
<body>

<!--导航-->
<nav th:replace="website/_fragments :: menu(1)"
     class="ui inverted attached segment m-padded-tb-mini m-shadow-small"></nav>
<br>
<br>
<br>

<!--中间-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <!--整体表单-->
        <form id="consumers-form" action="#" th:action="@{/web/subscribers/update}" method="post"
              class="ui form">
            <!--consumers.get方法才能把值传过去-->
            <input type="hidden" th:name="id" id="randomId" th:value="${consumers.getId()}">
            <div class="required field">
                <div class="ui left labeled input">
                    <input type="text" th:name="username" placeholder="用户名" th:value="${consumers.getUsername()}">
                </div>
            </div>
            <div class="required field">
                <div class="ui left labeled input">
                    <input type="text" th:name="email" placeholder="邮箱" th:value="${consumers.getEmail()}">
                </div>
            </div>

            <div class="required field">
                <div class="ui left labeled input">
                    <input type="text" th:name="telephone" placeholder="联系电话"
                           th:value="${consumers.getTelephone()}">
                </div>
            </div>

            <div class="ui container right aligned">
                <!--不加button，默认是submit-->
                <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                <button type="button" id="publish-btn" class="ui purple button">修改</button>
            </div>
        </form>
    </div>
    <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
        <i class="close icon"></i>
        <div class="header">提示：</div>
        <p th:text="${message}">恭喜，修改成功！</p>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/semantic.min.js}"></script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    $('#publish-btn').click(function () {
        $('[name="published"]').val(true);
        $('#consumers-form').submit();
    });

    $('.ui.form').form({
        fields: {
            username: {
                identifier: 'username',
                rules: [{
                    type: 'empty',
                    prompt: '标题：请输入用户名'
                }]
            },
            email: {
                identifier: 'email',
                rules: [{
                    type: 'empty',
                    prompt: '标题：请输入邮箱'
                }]
            },
            telephone: {
                identifier: 'telephone',
                rules: [{
                    type: 'empty',
                    prompt: '标题：请输入联系电话'
                }]
            }
        }
    });
</script>
</body>
</html>